<div fxLayout="column" fxFlex="80%" fxFlexOffset="10%" fxLayoutAlign="start">
    <div fxLayout="row" fxLayoutAlign="center">
        <h4>Cadastro de curso</h4>
    </div>
    <form [formGroup]="formGroupCadastro" (ngSubmit)="cadastrarCurso()">
        <div fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Nome" formControlName="nome" required>
            </mat-form-field>
            <div fxLayout="row">
                <mat-form-field fxFlex="38%">
                    <input matInput placeholder="Sigla" formControlName="sigla" required>
                </mat-form-field>
                <mat-form-field fxFlex="35%" fxFlexOffset="2%">
                    <mat-label>Grande área de conhecimento</mat-label>
                    <mat-select formControlName="codigoGrandeArea" required>
                        <mat-option *ngFor="let grandeArea of grandesAreas" [value]="grandeArea.codigo">
                            {{grandeArea.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="27%" fxFlexOffset="2%">
                    <mat-label>Nível</mat-label>
                    <mat-select formControlName="nivel" required>
                        <mat-option *ngFor="let nivel of todosOsNiveis" [value]="nivel.name">
                          {{nivel.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field>
                <textarea matInput placeholder="Descrição" formControlName="descricao" required></textarea>
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit"
                        [disabled]="!formGroupCadastro.valid" color="primary">Salvar</button>
        <button mat-raised-button
                [routerLink]="['/admin/gerenciarcursos']">Cancelar</button>
    </form>
</div>

