<div class="row">
  <div class="col s12 m6 l3 center">
    <div class="card-panel blue darken-4 white-text pointer" [routerLink]="['/super/gerenciarusuarios']">
              <i class="material-icons md-72">supervisor_account</i>
              <h5>Gerenciar usuários</h5>
    </div>
  </div>
  <div class="col s12 m6 l3 center">
    <div class="card-panel blue darken-4 white-text pointer" [routerLink]="['/super/configuracao']">
      <i class="material-icons md-72">settings</i>
      <h5>Configurações</h5>
    </div>
  </div>
</div>
