.overlay {
    position:fixed;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1000;
}
.spinner {
    position:absolute;
    top:45%;
    left:46%;
    transform: translate(-50%,-50%);
}