<h2 mat-dialog-title>Editar orientador</h2>
<form [formGroup]="formGroupEdit" (ngSubmit)="atualizar()">
  <mat-dialog-content>
      <div fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center">
            <i class="material-icons md-72">account_circle</i>
        </div>
        <mat-form-field>
          <input matInput placeholder="Matrícula" formControlName="matricula" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nome" formControlName="nome" required>
        </mat-form-field>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
      <button type="submit" [disabled]="!formGroupEdit.valid" 
            mat-raised-button color="primary">Atualizar</button>
  </mat-dialog-actions>
</form>
